
.root{
    -fx-background-color:#e3d1ac;
    -fx-font-size:14px;
    -fx-font-family:"Courier New";
    fx-pref-height:720px;
    fx-pref-width:580px;
}

.button{
    -fx-background-color:#dcd8d0;
    -fx-background-radius:3;
    -fx-border-color:black;
    -fx-border-radius:3;
    -fx-alignment:center;
    -fx-font-weight:bold;
    -fx-font-size:18px;
}

.button > playButton{
    -fx-font-size:18px;
}

.button:hover{
    -fx-background-color: #968d81;
}

.button:pressed{
    -fx-background-color: #6c665e;
}

 .menuItem{
    -fx-font-size:18px;
    -fx-font-color:brown;
 }
