
.root{
    -fx-background-color:#e3d1ac;
    -fx-font-size:14px;
    -fx-font-family:"Courier New";
    fx-pref-height:720px;
    fx-pref-widht:580px;
}

Button{
    -fx-background-color:#dcd8d0;
    -fx-background-radius:3;
    -fx-border-color:black;
    -fx-border-radius:3;
    -fx-alignment:center;
    -fx-font-weight:bold;
    -fx-font-size:18px;
}

Button > playButton{
    -fx-font-size:18px;
}

Button:hover{
    -fx-background-color: #968d81;
}

 MenuItem{
    -fx-font-size:18px;
    -fx-font-color:brown;
 }
